.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  width: calc(100% - 220px);
  /* width: 87%; */
  flex: 1;
}

.menu {
  min-width: 220px;
  /* min-width: 12%; */
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  overflow: auto;
}

.menu::-webkit-scrollbar {
  width: 0px;
}

.bottomBar {
  display: none;
}

.childrenContainer {
  background-color: #f9f7f7;
  height: 100%;
  width: 100%;
}

.children {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  margin: 0 40px;
  padding: 16px 0 12px 0;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
  .childrenContainer {
    flex: 1;
  }
  .children {
    margin: 0 20px;
  }
  .menu {
    display: none;
  }
  .bottomBar {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #1a1c1e;
  }
}
