@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #202529;
  --text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-redHatDisplay);
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-start {
  align-items: flex-end;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}

.headline-medium {
  font-family: var(--font-redHatDisplay);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.48px;
  color: #1a1c1e;
}

.headline-small {
  color: #4e6072;
  font-family: var(--font-redHatDisplay);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.3px;
}

.header-title-count {
  color: #4e6072;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  letter-spacing: 0.3px;
}

.body-container {
  height: 100%;
  background-color: #fcfcfc;
  color: #1a1c1e;
}

.add-button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #e60012;
}

.submit-button {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: #414141;
}

.cancel-button {
  display: flex;
  padding: 12px 44px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid #414141;
}

.label-add {
  color: #ffffff;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.label-submit {
  color: #fff;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.label-cancel {
  color: #414141;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}

.label-large {
  color: #1a1c1e;
  font-family: var(--font-redHatDisplay);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-medium {
  color: #2e3132;
  font-family: var(--font-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.body-medium {
  color: #201a1b;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.title-medium {
  color: #201a1b;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.16px;
}
