.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.linkContainer {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 14px 4px 14px 20px;
  cursor: pointer;
  justify-content: space-between;
}

.subContainer {
  display: flex;
  gap: 12px;
}

.linkContainer:hover {
  background-color: #444748;
}

.active {
  background-color: #5c5f5f !important;
}

.menuContainer {
  display: flex;
  flex-direction: column;
}

.hideDropdown {
  background-color: #2e3132;
  max-height: 0rem;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}
.showDropdown {
  background-color: #2e3132;
  max-height: 60rem;
  opacity: 1;
  transition: all 0.5s;
}

.title {
  color: #ffffff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01563rem;
}

.arrowUp {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}

.arrowDown {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.feedbackContainer {
  color: #ffffff;
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 14px 4px 14px 20px;
  gap: 12px;
  background-color: var(--bg);
}
